@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");

nav {
    background-color: black;
    opacity: .7;
    font-family: 'Open+Sans', sans-serif !important;
    font-size: 16px;
}

.hero-section {
    background-image: url("assets/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-container {
    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
    display: block;
    grid-template-columns: auto auto auto;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 250px;
    padding-bottom: 350px;
}

.grid-item-title {
    padding: 20px;
    margin: auto;
    font-size: 72px;
    font-family: Arial;
    text-align: center;
    color: white;
    font-weight: 700;
    width: 1200px;
    height: 100px;
    letter-spacing: 0.08em;
}

.grid-item-content {
    padding: 20px;
    margin: auto;
    font-size: 24px;
    font-family: Arial;
    text-align: center;
    color: white;
    width: 1000px;
    letter-spacing: 0.08em;
    opacity: .8;
}

.grid-item-button {
    padding-top: 0px;
    margin: auto;
    font-size: 72px;
    font-family: Arial;
    text-align: center;
    color: white;
    font-weight: 700;
    width: 1200px;
    height: 100px;
}


.hero-scroll {
    background-color: #08090A;
    font-size: 12px;
    font-family: 'Open+Sans', sans-serif !important;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
    margin-bottom: -2px;
}

.carousel-section {
    background-image: url(assets/Background2.png);
}

.carousel-title {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.carousel-content {
    display: flex;
    flex-direction: row;
    background: #08090A;
    opacity: .9;
    padding: 100px;
    padding-bottom: 400px;
    margin-bottom: -2px;
}

.sub-title {
    font-size: 24px;
    font-family: Arial;
    color: white;
    letter-spacing: 0.08em;
    opacity: .8;
}

.title {
    font-size: 56px;
    font-family: Arial;
    color: white;
}

.feature-section {
    background-image: url(assets/Background3.png);
}

.feature-content {
    background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    padding: 100px;
    padding-left: 900px;
    padding-bottom: 300px;
}

.dot-on {
    height: 14px;
    width: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1.30637px solid #FFFFFF;
    transform: rotate(90deg);
    margin-right: 20px;
    margin-top: 8px;
}

.dot-off {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 1.30637px solid #FFFFFF;
    transform: rotate(90deg);
    margin-right: 20px;
    margin-top: 8px;
}

.feature-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

h5 {
    font-size: 24px;
    font-family: Arial;
    color: #FFB548;
}

p {
    font-size: 18px;
    font-family: 'Open+Sans', sans-serif !important;
    color: white;
    letter-spacing: 0.08em;
}

.system-section {
    background-image: url(assets/Background4.png);
}

.system-content {
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    padding-top: 200px;
    padding-left: 100px;
    padding-bottom: 200px;
}

table, td{
    border: 0.5px solid #979797;
    padding: 20px;
    border-collapse: collapse;
}

.testimonial-section{
    background-image: url(assets/Background5.png);
}

.testimonial-content{
    background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    height: 1000px;
}

.home-testimonial-bottom{
    margin-top: 20px;
    position: relative;
    height: 130px;
    top: 190px
}

.home-testimonial h3{
    color: var(--orange);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase
}

.home-testimonial h2{
    color: white;
    font-size: 28px;
    font-weight: 700
}

.testimonial-inner{
    position: relative;
    top: -174px
}

.testimonial-pos{
    position: relative;
    top: 24px
}

.testimonial-inner .tour-desc{
    border-radius: 5px;
    padding: 40px
}

.testimonial-inner img.tm-people{
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: none
}

.link-name{
    font-family: 'Open+Sans', sans-serif !important;
    font-size: 24px;
    color: #FFB548;

}

.link-position{
    font-family: 'Open+Sans', sans-serif !important;
    font-size: 14px;
    color: grey
}

.subscribe-footer-section {
    background-image: url(assets/Background6.png);
}

.subscribe-content {
    padding-left: 750px;
    padding-right: 100px;
    padding-top: 100px;
}

.form-inline {
    padding-left: 735px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 200px;
}





